.container {
    padding-top: 5rem;

}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.padding{
    width: 100%;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding:2rem;
    cursor: pointer;
}

.item span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.item div {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
}

.item .flex {
    margin-top: 1rem;
}

.item .flex svg {
    margin-right: 1rem;
}