.container {
    padding-top: 5rem;
    ;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    text-align: left;
}

.item span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.item div {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
}

.item .flex {
    margin-top: 1rem;
}

.item .flex svg {
    margin-right: 1rem;
}