@tailwind base;
@tailwind components;
@tailwind utilities;


.containerCSS {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem; /* px-4 */
    padding-left: 1rem; /* px-4 */
}

@media only screen and (min-width: 768px) { /* Adjust this breakpoint according to your requirements */
    .containerCSS {
        padding-right: 2rem; /* px-8 */
        padding-left: 2rem; /* px-8 */
    }
}

.flexyDown {
    display: flex;
    flex-direction: column;
}

.flexySide {
    display: flex;
    flex-direction: row;
}

:root {
    --background: #FEFCF3;
    --poop: #C08D5D;
    --tertiary: #F5EBE0;
    --secondary: #F0DBDB;
    --primary: #DBA39A;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
    font-family: 'Montserrat';
    background-color: white;
}


.dropShadow-2xl {
    box-shadow: 0px 0px 60px rgba(192, 141, 93, 0.4);
}

.dropShadow-3xl {
    box-shadow: 0px 0px 90px rgba(192, 141, 93, 0.4);
}