.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 90px rgba(192, 141, 93, 0.4);    background-color: var(--background);
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.text {
    font-weight: 500;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.video {
    box-shadow: 0px 0px 90px rgba(192, 141, 93, 0.4);
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .text {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .text {
        font-size: 2rem;
    }
}