.main {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .main {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}

