.orgCard {
    max-width: 60rem;
    background-color: var(--background);
    box-shadow: 0px 0px 60px rgba(192, 141, 93, 0.25);
    border-radius: 1rem;
    display: flex;
    border-left: 10px solid transparent;
    flex-direction: row;
    padding: 3rem;
    margin: 5rem auto;
}

.orgCard:hover {
    border-left: 10px solid #c08d5dab;
}

.orgCardSelected {
    max-width: 60rem;
    background-color: var(--background);
    box-shadow: 0px 0px 60px rgba(192, 141, 93, 0.25);
    border-radius: 1rem;
    display: flex;
    border-left: 10px solid #C08D5D;
    flex-direction: row;
    padding: 3rem;
    margin: 5rem auto;
}

.orgname {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    padding-left: 2rem;
    color: #3F4042;

}

.orgdetails {
    font-size: 1.rem;
    line-height: 1.5;
    text-align: justify;
    margin-top: 1rem;
    overflow: hidden;

    padding-left: 2rem;
}

.orglocation {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-left: 2rem;
    color: #3F4042;
}

.orgreadmore {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--poop);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding-left: 2rem;
}

.orgreadmore:hover {
    color: var(--primary-dark);
}

.orgimage {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    max-height: 1024px;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.Button {
    border: 3px solid var(--primary);
        color: var(--primary);
    
    
    font-size: 1.2rem;
    font-weight: 500;
    width:min-content;
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

